body {margin: 0;}

/**********TITELSKÆRM*******/

#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;

}

#menu_background {
    display: none;
    background-image: url(grafik/titelsk%C3%A6rm.rigtig.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}



#start {
    display: none;
    background-image: url(grafik/play.svg);
    background-size: 20vw;
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 28vw;
    left: 33vw;
}

#start_settings {
    display: none;
    background-image: url(grafik/settings.svg);
    background-size: 16vw;
    width: 16vw;
    height: 5.85vw;
    position: relative;
    bottom: 184vw;
    left: 83vw;
    z-index: 1;
}

#settings {
    display: none;
    background-image: url(grafik/settings%20open.svg);
    background-size: 50vw;
    width: 50vw;
    height: 37.7vw;
    position: relative;
    bottom: 175vw;
    left: 25vw;
}



/**********SLUT TITELSKÆRM*******/

/***********SPILLESKÆRM***********/

#game_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(grafik/spillesk%C3%A6rm.svg);
    background-size: 100%;

}


#butterflyblue {
    background-image: url(grafik/butterfly%20blue.svg);
    background-size: 100%;
    width: 10vw;
    height: 8.6vw;
    position: absolute;
    top: 20vw;
    left: 62vw;

}

#angrybee {
    background-image: url(grafik/angry%20bee.svg);
    background-size: 100%;
    width: 10vw;
    height: 7vw;
    position: absolute;
    top: 15vw;
    left: 10vw;
    transform: rotateY(180deg);
}

#butterflyorange {
    background-image: url(grafik/butterfly%20orange.svg);
    background-size: 100%;
    width: 10vw;
    height: 8vw;
    position: absolute;
    top: 28vw;
    left:30vw;
    transform: rotateY(180deg);
}

#fatbee {
    background-image: url(grafik/fat%20angry%20bee.svg);
    background-size: 100%;
    width: 8vw;
    height: 6.4vw;
    position: absolute;
    top: 40vw;
    left: 50vw;
    transform: rotateY(180deg);
}

#points {
    background-image: url(grafik/fangede%20sommerfugl.svg);
    background-size: 100%;
    width: 15vw;
    height: 9.5vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
}

#energy {
    background-image: url(grafik/life.svg);
    background-size: 15vw;
    width: 15vw;
    height: 9.5vw;
    position: absolute;
    top: 0vw;
    left: 85vw;

}

#time {
    background-image: url(grafik/tid.svg);
    background-size: 15vw;
    width: 15vw;
    height: 9.5vw;
    position: absolute;
    left: 43vw;


}

#gameover {
    display: none;
    background-image: url(grafik/game%20over.svg);
    background-size: 100%;
    width: 65vw;
    height: 55vw;
    position: absolute;
    bottom: 2vw;
    left: 20vw;

}

#levelcomplete {
    display: none;
    background-image: url(grafik/winner.svg);
    background-size: 100%;
    width: 55vw;
    height: 45vw;
    position: absolute;
    top: 6vw;
    left: 24vw;
}







/********SLUT SPILLESKÆRM*********/
