* {
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

body {
    margin: 0;
}

/**********TITELSKÆRM*******/

#screen {
    background-color: white;
    position: relative;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
}

#start {
    background-image: url(grafik/titelsk%C3%A6rm.rigtig.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}



#play {
    background-image: url(grafik/play.svg);
    background-size: 20vw;
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 28vw;
    left: 33vw;
}

#start_settings {
    background-image: url(grafik/settings.svg);
    background-size: 16vw;
    width: 16vw;
    height: 5.85vw;
    position: absolute;
    left: 83vw;
}

#settings {
    background-image: url(grafik/settingsnyeste.svg);
    background-size: 50vw;
    width: 50vw;
    height: 37.7vw;
    position: absolute;
    bottom: 12vw;
    left: 25vw;
}

#kryds {
    background-image: url(grafik/kryds.svg);
    background-size: 8vw;
    height: 5vw;
    width: 8vw;
    position: absolute;
    left: 40vw;
    top: 1vw;
}


/**********SLUT TITELSKÆRM*******/

/****effekter******/

.hide {
    /**   visibility: hidden; **/
    display: none;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.paused {
    animation-play-state: paused;
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.2);
    }
}

.dissappear {
    animation-name: dissappear_kf;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes dissappear_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}



/***********SPILLESKÆRM***********/



#game_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(grafik/spillesk%C3%A6rm.svg);
    background-size: 100%;

}

/*******SPIL-FIGURER********/

#butterflyblue {
    background-image: url(grafik/butterfly%20blue.svg);
    background-size: 100%;
    width: 10vw;
    height: 8.6vw;
    position: absolute;
    background-repeat: no-repeat;
    top: 20vw;
    left: -10vw;


}

#angrybee {
    background-image: url(grafik/angry%20bee.svg);
    background-size: 100%;
    width: 10vw;
    height: 7vw;
    position: absolute;
    top: 15vw;
    left: -10vw;
    transform: rotateY(180deg);
}



#butterflyorange {
    background-image: url(grafik/butterfly%20orange.svg);
    background-size: 100%;
    width: 10vw;
    height: 8vw;
    position: absolute;
    top: 28vw;
    left: -10vw;
    transform: rotateY(180deg);
}



#fatbee {
    background-image: url(grafik/fat%20angry%20bee.svg);
    background-size: 100%;
    width: 8vw;
    height: 6.4vw;
    position: absolute;
    top: 40vw;
    left: -10vw;
    transform: rotateY(180deg);
}

/*********SLUT SPIL-FIGURER*********/

/***************UI-ELEMENTER**********/

#points {
    background-image: url(grafik/fangede%20sommerfugl.svg);
    background-size: 100%;
    width: 15vw;
    height: 9.5vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
}

#points .antal {
    font-family: 'Mali', cursive;
    color: #b96e16;
    font-size: 5vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 1.5vw;
    left: 7vw;
}

#energy {
    background-image: url(grafik/scoretom.svg);
    background-size: 100%;
    width: 15vw;
    height: 9.5vw;
    position: absolute;
    top: 0vw;
    left: 85vw;
    display: flex;

}

.heart {
    background-image: url(grafik/hjerte.svg);
    background-size: 100%;
    width: 4vw;
    height: 4vw;
    position: relative;
    top: 3vw;
    left: 1.5vw;
}

#time {
    background-image: url(grafik/scoretom.svg);
    background-size: 15vw;
    width: 15vw;
    height: 9.5vw;
    position: absolute;
    left: 43vw;


}

#gameover {
    background-image: url(grafik/gameover.svg);
    background-size: 100%;
    width: 65vw;
    height: 55vw;
    position: absolute;
    bottom: 2vw;
    left: 20vw;


}

#retry {
    background-image: url(grafik/retry-.svg);
    background-size: 100%;
    width: 20vw;
    height: 10vw;
    position: absolute;
    top: 31vw;
    left: 21vw;
}

#levelcomplete {
    background-image: url(grafik/winner_1.svg);
    background-size: 100%;
    width: 60vw;
    height: 59vw;
    position: absolute;
    top: 0vw;
    left: 24vw;
}

#play_again {
    background-image: url(grafik/play%20again.svg);
    background-size: 100%;
    width: 25vw;
    height: 12vw;
    position: absolute;
    top: 29vw;
    left: 19vw;
}

/***************SLUT UI-ELEMENTER**********/


/********SLUT SPILLESKÆRM*********/


/******ANIMATIONER********/



.butterflyblue_fly {
    animation-name: fly;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-delay: 3s;
}

@keyframes fly {
    0% {
        left: 100vw;
        top: 20vw;
    }

    50% {

        top: 30vw;

    }

    100% {
        left: -10vw;
        top: 10vw;
    }
}

.fatbee_fly {
    animation-name: fatbee_fly;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-timing-function: linear;
}

@keyframes fatbee_fly {
    0% {
        left: 100vw;
        top: 20vw;
    }

    30% {

        left: 65vw;
        top: 43vw;

    }

    60% {
        left: 20vw;
        top: 20vw;
    }

    100% {
        left: -15vw;
        top: 60vw;
    }
}

.butterflyorange_fly {
    animation-name: butterflyorange_fly;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-delay: 3s;
    animation-timing-function: linear;
}

@keyframes butterflyorange_fly {
    0% {
        left: 100vw;
        top: 50vw;
    }

    50% {

        left: 40vw;
        top: 20vw;

    }

    100% {
        left: -10vw;
        top: 10vw;
    }
}

.angrybee_fly {
    animation-name: bee_fly;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-delay: 3s;
}

@keyframes bee_fly {
    0% {
        left: 100vw;
    }

    50% {

        left: 40vw;
        top: 40vw;

    }

    100% {
        left: -10vw;
    }
}



/*****SLUT ANIMATIONER******/

/********TOGGLE*************/



#sfx_sprite,
#music_sprite {
    background-size: 500% 100%;
    width: 10vw;
    height: 10vw;
    background-image: url(grafik/min_toggle_sprite.svg);
    /*display: inline-block;*/
    position: relative;
    top: 7vw;
    left: 27vw;


}


.on {
    background-position: 0;
}

.off {
    background-position: -400% 0;

}

.off_on {
    animation-name: on_off_kf;
    animation-direction: reverse;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(4);
}

.on_off {
    animation-name: on_off_kf;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(4);
}


@keyframes on_off_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}
